<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scrapbook.name %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image6:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image7:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image8:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image9:</strong>
  <%= @scrapbook.image %>
</p>

<p>
  <strong>Image10:</strong>
  <%= @scrapbook.image %>
</p>

<%= link_to 'Edit', edit_scrapbook_path(@scrapbook) %> |
<%= link_to 'Back', scrapbooks_path %>
