<div class="px-5 pb-5">
  <h2>Registrate</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nombres %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :apellidos %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :cumpleaños %><br />
      <%= f.date_field :birthday %>
    </div>

    <div class="field">
      <%= f.label :pais %><br />
      <%= f.select :country, ['Chile', 'Argentina', 'Peru'] %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :confirmacion_de_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
